<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>144089692335-mge1agi342e445se0kiijs4n89lfl80a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144089692335-mge1agi342e445se0kiijs4n89lfl80a</string>
	<key>API_KEY</key>
	<string>AIzaSyAssk7_z6DRH4waHO53BRmr-NCkq6epb7A</string>
	<key>GCM_SENDER_ID</key>
	<string>144089692335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grokkingStuff.MobileNets</string>
	<key>PROJECT_ID</key>
	<string>dummydatabase-8b820</string>
	<key>STORAGE_BUCKET</key>
	<string>dummydatabase-8b820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144089692335:ios:2cdabbdf445416d2</string>
	<key>DATABASE_URL</key>
	<string>https://dummydatabase-8b820.firebaseio.com</string>
</dict>
</plist>